<% @subtitle = 'Benchmark Toolset' %>
<%= erb :header_alt %>

<div class="container content">
  <h3>Waveform recognition performance</h3>
  <p class="nice-wrap">
    A2EPG was subjected to an extensive performance analysis showing a
    substantial recognition effectiveness for the studied EPG waveforms (Np, C,
    pd, G and E1) at a low computational cost for records of medium-to-high
    quality.
  </p>
  <p class="nice-wrap">
    Specifications on the effectiveness assessment and the results
    can be found in the corresponding journal article entitled <em>"A2EPG: A new
    software for the analysis of electrical penetration graphs to study plant
    probing behaviour of hemipteran insects"</em>, which is available
    <a href="http://dx.doi.org/10.1016/j.compag.2015.02.005">here</a>.
  </p>

  <h3>Benchmark tools</h3>
  <p class="nice-wrap">
    Several software routines were written to deal with the comparison between
    manual inspection and the automatic scan results. Such utilities were packed
    into a single script written in Python, <code>a2epg_post_analysis.py</code>,
    that takes one or more pairs of mark files (<code>.csv</code> files), and
    it calculates all the metrics used in the publication mentioned above.
  </p>
  <p class="nice-wrap">
    You need at least Python 3.4 and
    <a href="http://matplotlib.org">matplotlib</a> plotting library if you wish
    to generate confusion matrix graphs (optional). The script should be
    executed as follows:
  </p>
  <pre class="pre-scrollable">
<span style="color: red;">$ python a2epg_post_analysis.py Ap1-haba-auto.csv Ap1-haba-manual.csv</span>
Comparing Ap1-haba... done.

Global stats:
cate-   n       length  matches full    loffset roffset sensi-  speci-  preci-  accu-   kappa   ckappa
gory                            matches                 tivity  ficity  sion    racy
c       33      0.91    0.89    21      2.7%    6.4%    0.9732  0.9882  0.9858  0.9813  0.9624  0.9738
np      26      1.07    1.06    20      12.8%   4.3%    0.9957  0.9732  0.9769  0.9852  0.9702  0.9905
pd      16      0.02    0.01    8       0.0%    0.0%    0.489   0.9991  0.8469  0.9938  0.6171  0.8453
</pre>
  <p class="nice-wrap">
    The script will analyze both mark files, it will try to match each
    marked segment, construct the global confusion matrix and print out the
    calculated stats. Optionally, it can write the results to a file and/or
    generate a consufion matrix graph (see script help menu for more info using
    the argument <code>-h</code>).
  </p>
  <p class="nice-wrap">
    If you have several files to process, use instead a wildcard pattern (e.g.
    <code>Ap*.csv</code>) that will match all the <code>.csv</code>
    files starting with <code>Ap</code>, and the script will take
    care of the rest. However, the filenames must contain <code>-manual</code>
    and <code>-auto</code> suffixes.
  </p>

  <h3>Downloads</h3>
  <p>
    The following items are available to download as part of the benchmark
    toolset:
  </p>
  <ol>
    <li><a href="/download/post-analysis">a2epg_post_analysis.py</a></li>
    <li><a href="/datasets/training">Training data set</a></li>
    <li><a href="/datasets/testing">Testing data set</a></li>
  </ol>

  <h3>Citing</h3>
  <p class="nice-wrap">
    Please acknowledge the use of the files/utilities available here in journal articles as:
  </p>
  <blockquote class="nice-wrap">Adasme-Carreño, F., et al. (2015). A2EPG: A new software
    for the analysis of electrical penetration graphs to study plant probing
    behaviour of hemipteran insects. <em>Comput. Electron. Agric.</em>,
    <a href="http://dx.doi.org/10.1016/j.compag.2015.02.005">
      http://dx.doi.org/10.1016/j.compag.2015.02.005</a>.
  </blockquote>
</div>

<% @footer_class = 'extra-space' %>
<%= erb :footer %>
