<% @subtitle = 'Benchmark Toolset' %>
<%= erb :header_alt %>

<div class="container content">
<!--
  <blockquote>
    <p class="lead nice-wrap">
      A2EPG was subjected to an extensive performance analysis and it
      showed a substancial recognition effectiveness for the tested data sets
      at a low computational cost.
    </p>
    <small>Unpublished manuscript.</small>
  </blockquote>

  <p class="nice-wrap">
    In the sections below, the testing data set and performance metrics
    will be detailed, followed by the benchmark results. At the
    end of this page, you can find the download links for the data sets and
    computational tools used during the testing of A2EPG.
  </p>

  <h3>Waveform recognition effectiveness</h3>
  <p class="nice-wrap">
    In order to assess the detection capability of A2EPG, several EPG
    records were analyzed by both automatic scan and visual inspection. The
    testing data were recorded for 28 individuals from two different aphid
    species: windless parthenogenetic females of the aphis
    <em>Acyrthosiphon pisum</em> and <em>Rhopalosiphum padi</em>. After
    amplification, all aphids’ activities were recorded at 100 Hz and
    monitored for 3 hours using Stylet+ software (F. Tjallingii, laboratory
    of entomology, Wageningen University). Later on, the time frames
    devoted to each activity (Np, C, pd, E1, and G) exhibited by the aphids
    were estimated with A2EPG by both automatic scan and manual
    inspection. More details about the EPG setup can be found in the
    associated scientific article.
  </p>
  <p class="nice-wrap">
    To evaluate the effectiveness of the search engines, a confusion or error
    matrix was constructed, a technique widely used in the field of machine
    learning and medical testing to assess the performance of a supervised
    learning algorithm, where, in this case, the treated waveforms corresponds
    to the possible classes. Thereafter, several statistical
    metrics such as sensitivity, specificity, accuracy, etc. were calculated for
    each waveform by reducing the obtained confusion matrix into a binary
    representation or table of confusion, where a positive outcome means that a
    segment was labelled as the true EPG type, and negative otherwise. You can
    see more information at the
    <a href="http://en.wikipedia.org/wiki/Confusion_matrix">Wikipedia article</a>.
  </p>
  <p class="nice-wrap">
    The kappa statistic was also calculated, which gives a numerical value
    to compare the trained model with a random model, so it is possible to
    deduce if the modelling attempts are better than, equal to or even
    worse than random. The values for kappa range
    between -1 and +1: a perfect model gives a kappa value of +1, whereas
    kappa values lower than 0 indicate models performing worse than random.
    Nonetheless, the corrected kappa must be estimated to ensure such
    ranges of values, which may be interpreted as kappa/max(kappa). The
    main advantage of kappa is its simplicity and the general applicability
    to multi-class problems and is therefore perfectly suited for the
    evaluation of classification tasks.
  </p>
  <p class="nice-wrap">
    Lastly, the offsets at the start and end of the segments recognized by
    the automatic scan in comparison with the manual labelling were
    calculated and expressed as percentages with respect to the total
    length of the corresponding segment found by A2EPG.
  </p>

  <small>* The above paragraphs were stripped down from the associated
    scientific publication</small>.

  <h3>Benchmark results</h3>
  <p class="nice-wrap">
    Given the aforementioned, the following table summarizes the results
    obtained for the different metrics.
  </p>

  <table class="table table-bordered table-striped">
    <thead>
      <tr>
        <td colspan="9">
          Classification performance statistics express the agreement between
          the automatic scan and manual inspection for several EPG records of
          the two tested aphid species, where higher values are better (except
          for offsets). N = number of EPG records; n = number of waveform
          samples; Offset at start/end (%) = overall deviation at the start/end
           of the time frames produced by the automatic scan with respect to
           the manual inspection.
        </td>
      </tr>
      <tr>
        <th>Waveform</th>
        <th>n</th>
        <th>Offset at start (%)</th>
        <th>Offset at end (%)</th>
        <th>Sensitivity</th>
        <th>Specificity</th>
        <th>Precision</th>
        <th>Accuracy</th>
        <th>Corrected kappa</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td colspan="9">
          <em>Acyrthosiphon pisum</em> (N = 16)
        </td>
      </tr>
      <tr>
        <td>Np</td>
        <td>234</td>
        <td>3.3%</td>
        <td>1.4%</td>
        <td>0.86</td>
        <td>0.94</td>
        <td>0.67</td>
        <td>0.93</td>
        <td>0.84</td>
      </tr>
      <tr>
        <td>C</td>
        <td>1274</td>
        <td>3.5%</td>
        <td>2.5%</td>
        <td>0.89</td>
        <td>0.74</td>
        <td>0.78</td>
        <td>0.81</td>
        <td>0.76</td>
      </tr>
      <tr>
        <td>pd</td>
        <td>1025</td>
        <td>0.1%</td>
        <td>0.4%</td>
        <td>0.65</td>
        <td>0.97</td>
        <td>0.89</td>
        <td>0.86</td>
        <td>0.86</td>
      </tr>
      <tr>
        <td>G</td>
        <td>12</td>
        <td>9.4%</td>
        <td>5.4%</td>
        <td>0.70</td>
        <td>1.00</td>
        <td>0.93</td>
        <td>0.98</td>
        <td>0.92</td>
      </tr>
      <tr>
        <td>E1</td>
        <td>11</td>
        <td>15.8%</td>
        <td>4.9%</td>
        <td>0.13</td>
        <td>1.00</td>
        <td>0.75</td>
        <td>0.98</td>
        <td>0.75</td>
      </tr>
      <tr>
        <td><b>Total</b></td>
        <td><b>2556</b></td>
        <td><b>6.4%</b></td>
        <td><b>2.9%</b></td>
        <td><b>0.64</b></td>
        <td><b>0.93</b></td>
        <td><b>0.80</b></td>
        <td><b>0.92</b></td>
        <td><b>0.83</b></td>
      </tr>
      <td colspan="9">
        <em>Rhopalosiphum padi</em> (N = 12)
      </td>
      <tr>
        <td>Np</td>
        <td>96</td>
        <td>1.2%</td>
        <td>1.9%</td>
        <td>0.95</td>
        <td>0.86</td>
        <td>0.29</td>
        <td>0.86</td>
        <td>0.95</td>
      </tr>
      <tr>
        <td>C</td>
        <td>540</td>
        <td>6.0%</td>
        <td>10.7%</td>
        <td>0.77</td>
        <td>0.52</td>
        <td>0.65</td>
        <td>0.63</td>
        <td>0.45</td>
      </tr>
      <tr>
        <td>pd</td>
        <td>420</td>
        <td>0.0%</td>
        <td>1.1%</td>
        <td>0.36</td>
        <td>0.99</td>
        <td>0.85</td>
        <td>0.81</td>
        <td>0.82</td>
      </tr>
      <tr>
        <td>G</td>
        <td>3</td>
        <td>0.0%</td>
        <td>0.0%</td>
        <td>0.63</td>
        <td>0.99</td>
        <td>0.48</td>
        <td>0.98</td>
        <td>0.95</td>
      </tr>
      <tr>
        <td>E1</td>
        <td>24</td>
        <td>23.2%</td>
        <td>1.2%</td>
        <td>0.28</td>
        <td>0.97</td>
        <td>0.68</td>
        <td>0.89</td>
        <td>0.73</td>
      </tr>
      <tr>
        <td><b>Total</b></td>
        <td><b>1083</b></td>
        <td><b>6.1%</b></td>
        <td><b>3.0%</b></td>
        <td><b>0.60</b></td>
        <td><b>0.87</b></td>
        <td><b>0.59</b></td>
        <td><b>0.83</b></td>
        <td><b>0.78</b></td>
      </tr>
      <tr class="info">
        <td><b>Overall</b></td>
        <td><b>3639</b></td>
        <td><b>6.2%</b></td>
        <td><b>2.9%</b></td>
        <td><b>0.62</b></td>
        <td><b>0.90</b></td>
        <td><b>0.70</b></td>
        <td><b>0.87</b></td>
        <td><b>0.80</b></td>
      </tr>
    </tbody>
  </table>

  <p class="nice-wrap">
    Note that we have studied two aphid species that cover both good and
    medium-to-low quality records (<em>A. pisum</em> and <em>R. padi</em>,
    respectively). It is clear that there is an overall better performance for
    <em>A. pisum</em> than <em>R. padi</em>; however the results for <em>R.
    padi</em> are not that deficient, suggesting that A2EPG’s search engines
    could be useful for a range of aphid species. For future software
    applications, this factor (i.e. quality) must be taken into account.
  </p>
-->
  <h3>Benchmark utilities</h3>
  <p class="nice-wrap">
    Several software routines were written to deal with the comparison between
    manual inspection and automatic scan results. Such utilities were packed into a
    single script written in the Ruby language that takes one or more pairs of
    <code>.csv</code> files containing the marked segments, and it calculates all the
    aforementioned metrics.
  </p>
  <p class="nice-wrap">
    Once downloaded to your system, you must install all the required
    dependencies indicated in the <code>Gemfile</code> file by hand or you can use
    the <code>bundle</code> command (install it by <code>gem install
    bundler</code>). After that, you can execute the script as follows:
  </p>
  <pre class="pre-scrollable">
<span style="color: red;">$ ruby autoepg-post-analysis.rb whiteeleganlate1-ch2-auto.csv whiteeleganlate1-ch2-manual.csv</span>
"Comparing whiteeleganlate1-ch2..."
Kappa coefficient:	0.54
Corrected kappa coefficient:	1.0
category	n	loffset	roffset	sensitivity	specificity	precision	accuracy	ckappa	kappa
pd	1.0	0.0471	0.0235	1.0	0.8	0.5	0.8333	1.0	0.5714
c	2.0	0.0048	0.2153	0.6667	1.0	1.0	0.8333	1.0	0.6667
np	1.0	0.006	0.0	1.0	0.8	0.5	0.8333	1.0	0.5714
ConfusionMatrix{np,c,pd,g,e1}[[1, 0, 0, 0, 0], [0, 2, 0, 0, 0], [0, 1, 1, 0, 0], [0, 0, 0, 0, 0], [0, 0, 0, 0, 0]]
</pre>
  <p class="nice-wrap">
    The script will analyze both <code>.csv</code> files, it will try to match
    each segment mark and print out the measurements, including the base
    confusion matrix. Note that the letter before <code>offset</code> indicates
    start (<code>l</code>) and end (<code>r</code>) position.
  </p>
  <p class="nice-wrap">
    If you have several files to process, use instead a wildcard pattern (e.g.
    <code>whiteeleganlate1-*.csv</code>), which will match all the <code>.csv</code>
    files starting with <code>whiteeleganlate1-</code>, and the script will take
    care of the rest. However, the filenames must contain <code>-manual</code>
    and <code>-auto</code> suffixes.
  </p>

  <h3>Downloads</h3>
  <p>The following items are available to download:</p>
  <ol>
    <li>
      <a href="/download/benchmark-toolset">Benchmark toolset</a>
      <br>
      <small class="muted">It contains the training and testing data sets, and also
        the post analysis utilities (i.e. all the items below).</small>
    </li>
    <li><a href="/datasets/training">Training data set</a></li>
    <li><a href="/datasets/testing">Testing data set</a></li>
    <li><a href="/download/post-analysis">Post analysis utilities</a></li>
  </ol>
</div>

<% @footer_class = 'extra-space' %>
<%= erb :footer %>
