<footer id="footer" class="module">
    <div class="container">
        <div class="row">
            <ul class="nav nav-pills">
                <li><a href="/">Home</a></li>
                <li><a href="/#features">Features</a></li>
                <li><a href="/#download">Download</a></li>
                <li><a href="/release-notes">Release notes</a></li>
                <li><a href="/#manual">Manual</a></li>
                <li><a href="/benchmark">Benchmark</a></li>
                <li><a href="/#about">The Team</a></li>
                <li><a href="/#contact">Contact</a></li>
            </ul>
            <p class="made">Made in Chile</p>
        </div>
    </div>
    <p class="rights">© 2014 All Rights Reserved &ndash; <a href="http://cbsm.utalca.cl"><abbr title="Centre for Bioinformatics and Molecular Simulation">CBSM</abbr></a></p>
</footer>
