<header class="main">
  <div class="container-fluid">
  	<div class="content row-fluid">
  		<div class="span5 offset1">
  			<img src="img/logo.png" alt="">
  			<h1>A2EPG</h1>
  			<h3 class="subtitle">Assisted Analysis of Electrical Penetrarion Graph</h3>
  			<p>
  			  <a id="learn-more" href="#download" class="btn btn-primary btn-large">
  			    Download now
  			  </a>
  			</p>
  		</div>
  		<div class="span6 stand-out">
  			<img src="img/mainwindow.png" alt="">
  		</div>
  	</div>
  </div>
</header>
