<!DOCTYPE HTML>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>AutoEPG - Automatic processing of EPG data</title>
  <link rel="stylesheet" href="css/stylesheet.css">
</head>

<body>

  <%= erb :nav %>
  <%= yield %>

	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7/jquery.min.js"></script>
  <script src="js/jquery.smooth-scroll.min.js"></script>
  <script>
    $(document).ready(function() {

      $('ul.nav a, #learn-more').smoothScroll();
      $('a.top').on('click', function(e) {
      	e.preventDefault();
      	$.smoothScroll({ offset: 0 })
      });
      console.log($('a.top').text());

    });
  </script>
</body>

</html>
