#about {
	// padding: 64px 0;

	ul { margin-top: 64px; }

	li {
		display: inline-block;
		padding: 0 16px;
		width: 320px - 16px*2;
		text-align: center;
		vertical-align: top;
	}

	figure {
		margin: 0;
	}

	img {
		margin-bottom: 12px;
		width: 192px;
		height: 0;
		padding-bottom: 192px;
		background-position: center;
		-webkit-background-size: cover;
		background-size: cover;
		border-radius: 50%;
		box-shadow: 0 4px 0 rgba(black, .1);
	}
}