#download {
	background: white;
}

.tile {
	margin: 48px 0 32px;
	padding: 48px 16px 16px;
	background-color: #eff0f2;
	border-radius: 6px;
	position: relative;
	text-align: center;

	.btn { margin: 24px 0 8px; }
}