#download {
	background: white;

	footer {
		@extend .text-center;
		padding-top: 24px;
	}
}

.tile {
	position: relative;
	margin: 0;
	padding: 48px 16px 16px;
	height: 434px - 48px - 16px;
	background-color: #eff0f2;
	border-radius: 6px;
	position: relative;
	text-align: center;

	.btn {
		position: absolute;
		right: 16px;
		bottom: 16px;
		left: 16px;
		width: auto;
	}
	img { height: 128px; }
	.disabled {
		cursor: not-allowed;
		&:hover { background: $turquoise; }
	}
}
