// @import url("http://fonts.googleapis.com/css?family=Lato:400,700,700italic,900,400italic,300");
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300,700&subset=latin,latin-ext);

$light: 300;
$regular: 400;
$bold: 700;

html,
body {
	font-size: 100%;
}

body {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  font-weight: $regular;
  line-height: 1.231;
  -webkit-font-smoothing: subpixel-antialiased;
}

input,
button,
select,
textarea {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.2;
  color: $blue;
  font-weight: $regular;
}

h1 {
	font-size: 50px;
}

p {
	line-height: 1.5em;
}

.text-center { text-align: center; }

.label {
	display: inline-block;
	padding: 2px 4px;
	font-size: 11.844px;
	font-weight: bold;
	line-height: 14px;
	color: #ffffff;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	white-space: nowrap;
	vertical-align: baseline;
	background-color: #999999;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}

.label-warning, .badge-warning {
	background-color: #f89406;
}

p.nice-wrap {
	width: 550px;
}
