<header class="main">
  <div class="container-fluid">
  	<div class="content row-fluid">
  		<div class="span5 offset1">
  			<img src="assets/img/logo.png" alt="">
  			<h1>AutoEPG</h1>
  			<h3 class="subtitle">Automatic processing of Electrical Penetrarion Graph Software</h3>
  			<p>
  			  <a href="#features" class="btn btn-primary btn-large">
  			    Learn more
  			  </a>
  			</p>
  		</div>
  		<div class="span6 stand-out">
  			<img src="assets/img/mainwindow.png" alt="">
  		</div>
  	</div>
  </div>
</header>